@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    padding:0;
    border: 0;
    margin: 0;
}

.Navbar--body {
    position: fixed; /* Change position to fixed */
    top: 0; /* Position at the top */
    min-height: 9vh;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Secular One', sans-serif;
    overflow: hidden;  
    border-radius:0 0 5px 5px;
    transition: background-color 0.5s; /* Add transition property */
    background-color: transparent; /* Set initial background color to transparent */
}

.Navbar--body.scrolled {
    transform: translateY(100%); /* Move the navbar from top to bottom */
}

.Navbar--background {
    background-color: #032f48;
}
.Navbar--container {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.Navbar--buttons {
    color:white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:50px;
    font-size: 1.2rem;
    font-weight: bolder;
    height: 100%;
    width: 90%;
}

.navbar--link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
}

.navbar--link::before,
.navbar--link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0561EE;
    transform: scaleX(0);
    transition: transform 0.25s;
}

.navbar--link::before {
    top: -3px;
    transform-origin: left;
}

.navbar--link::after {
    bottom: -3px;
    transform-origin: right;
}

.navbar--link:hover::before,
.navbar--link:hover::after {
    transform: scaleX(1);
}
.navbar--insideMenu {
    display: none;
}
.Navbar--logo {
    width: 40%;
    color:white;
    font-size: 1.4rem;
    font-weight:lighter;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar--menu {
    display: none;
}
@media (max-width:1028px) {
    .Navbar--logo {
        display: none;
    }
    .Navbar--buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Navbar--container {
        width: 100%;
    }
    .Navbar--buttons {
        width: 100%;
    }
}

@media (max-width:570px) {
    .Navbar--body{
        overflow:visible;
    }
    .navbar--menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:0 30px;
        width: 100%;
        min-height: 9vh
    }
    .navbar--menu >img {
        width: 40px;
        height: 40px;
    }
    .navbar--link {
        display: none;
    }
    .Navbar--logo {
        display: flex;
        justify-content: center;
        min-width: 250px;
    }
    .navbar--menuScreen {
        position: absolute;
        background-color: white;
        height:101vh;
        width: 100%;
        top:-25px;
        right: -100%; /* Start from rightmost side */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.5s ease; /* Transition effect */
        opacity: 0;
    }
    .navbar--menuScreen.show {
        right: 0; /* End at original position */
        opacity: 1; /* Fully visible */
    }
    .navbar--insideMenu {
        height:100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bolder;
    }
    .navbar--arrow {
        position: absolute;
        top:40px;
        left:20px;
    }
    .navbar--arrow > img {
        width: 50px;
        height:50px
    }
    
}