@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    padding:0;
    margin:0;
}

.Main--body {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url('../../../public/square.jpg');
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
}

.Main--aboutMe {
    color:white;
    width: 65%;
    height: 100vh;
    display: flex;
}

.Main--leftSide {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bolder;
}

.Main--leftSide > :nth-child(2){
    font-size: 4rem;
}

span {
    color:#6276a5;
}

.Main--buttons {
    display: flex;
    margin-top:50px
}

.Main--buttons > :first-child {
    width: 150px;
    height: 50px;
    font-size: bolder;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6276a5;
    border-radius: 5px;
    cursor: pointer;
}

.Main--buttons > :last-child {
    width: 200px;
    height: 50px;
    border:0;
    font-size: bolder;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#6276a5;
    cursor: pointer;
    transition: color 0.5s;
}

.Main--buttons > :last-child:hover {
    color:white
}

.Main--rightSide {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.Main--circle {
    position: relative;
    width: 350px;
    height: 508px;
    border:4px solid white;
    border-radius: 200px;
}

.Main--circle > img {
    position: absolute;
    width: 318px;
    height: 461px;
    border-radius: 200px;
    right:-10px;
    z-index: -1;
}

.Main--talent {
    position: absolute;
    left:150px; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    font-size: 0.8rem;
}

.Main--detail {
    position: relative;
    z-index: 0;
    background: white;
    width: 200px;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    color:black;
    margin-right:20px
}

.Main--detail > :nth-child(2) {
    width: 50%;
    z-index: 2;
    height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin:0 auto;
}

.Main--detail > img {
    margin:0 30px 0 15px;
    width: 25px;
    height: 25px;
    z-index: 2;
}

.Main--sideBackground {
    background:rgba(99, 99, 99, 0.329);
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 26%;
    border-radius: 13% 0 80% 13%;
}


@media (max-width:1440px) {
    .Main--aboutMe {
        width: 80%;
    }
}

@media (max-width:1170px) {
    .Main--aboutMe {
        height: 130vh;
        flex-direction: column;
    }
    .Main--leftSide > :first-child {
        margin-top:100px
    }
    .Main--leftSide {
        width: 100%;
        height: 80%;
        justify-content: center;
        align-items: center;
    }
    .Main--rightSide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    
    }
}
@media (max-width:770px) {
    .Main--aboutMe {
        width: 100%;
    }
    .Main--leftSide {
        font-size: 1.5rem;
    }
    .Main--leftSide > :nth-child(2){
        font-size:3.5rem;
    }

    .Main--buttons {
        display: flex;
        margin-top:50px
    }
    

    .Main--circle {
        position: relative;
        width: 280px;
        height: 406px;
        border: 3.2px solid white; 
        border-radius: 160px; 
    }

    .Main--circle > img {
        position: absolute;
        width: 254px; 
        height: 369px;
        border-radius: 160px; 
        right:-8px;
        z-index: -1;
        border:1px solid
    }
    .Main--detail {
        position: relative;
        z-index: 0;
        background: white;
        width: 160px;
        height: 52px; 
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 6.4px; 
        color:black;
        margin-right:16px;
    }

    .Main--detail > :nth-child(2) {
        width: 50%;
        z-index: 2;
        height: 100%;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        margin:0 auto;
    }

    .Main--detail > img {
        margin:0 24px 0 12px;
        width: 20px; 
        height: 20px; 
        z-index: 2;
    }

}

@media (max-width:600px) {
    .Main--aboutMe {
        height: 110vh;
    }
    .Main--leftSide { 
        height: 45%;
    }
    .Main--rightSide {
        height: 50%;
    }
    .Main--circle {
        margin-right:100px
    }
    .Main--circle {
        position: relative;
        width: 224px;   
        height: 324.8px;  
        border: 3.2px solid white; 
        border-radius: 160px; 
    }
    
    .Main--circle > img {
        position: absolute;
        width: 203.2px; 
        height: 295.2px;
        border-radius: 160px; 
        right:-8px;
        z-index: -1;
        border:1px solid;
    }
    
    .Main--detail {
        position: relative;
        z-index: 0;
        background: white;
        width: 128px;  
        height: 41.6px; 
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 6.4px; 
        color:black;
    }
    
    .Main--detail > :nth-child(2) {
        width: 100%;
        z-index: 2;
        height: 100%;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin:0 auto;
    }
    
    .Main--detail > img {
        margin:0 24px 0 5px;
        width: 20px; 
        height: 20px; 
        z-index: 2;
    }
    .Main--talent {
        left:120px; 
    }
    
}

@media (max-width:450px) {
    .Main--aboutMe {
        height: 100vh;
    }
    .Main--circle {
        margin-right:100px
    }
    .Main--circle {
        position: relative;
        width: 224px;  
        height: 324.8px;  
        border: 3.2px solid white; 
        border-radius: 160px; 
    }
    
    .Main--circle > img {
        position: absolute;
        width: 203.2px; 
        height: 295.2px;
        border-radius: 160px; 
        right:-8px;
        z-index: -1;
        border:1px solid;
    }
    
    .Main--detail {
        position: relative;
        z-index: 0;
        background: white;
        width: 128px;  
        height: 41.6px; 
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 6.4px; 
        color:black;
        margin-right:16px;
    }
    
    .Main--detail > :nth-child(2) {
        width: 100%;
        z-index: 2;
        height: 100%;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin:0 auto;
    }
    
    .Main--detail > img {
        margin:0 24px 0 5px;
        width: 20px; 
        height: 20px; 
        z-index: 2;
    }
    

}